[submodule "cmsc420-workspace"]
	path = cmsc420-workspace
	url = https://github.com/tvarano/cmsc420-workspace.git
[submodule "cmsc451-workspace"]
	path = cmsc451-workspace
	url = https://github.com/tvarano/cmsc451-workspace.git
[submodule "cmsc320-workspace"]
	path = cmsc320-workspace
	url = https://github.com/tvarano/cmsc320-workspace.git
[submodule "cmsc132-workspace"]
	path = cmsc132-workspace
	url = https://github.com/tvarano/cmsc132-workspace.git
[submodule "cmsc216-workspace"]
	path = cmsc216-workspace
	url = https://github.com/tvarano/cmsc216-workspace.git
[submodule "cmsc330-workspace"]
	path = cmsc330-workspace
	url = https://github.com/tvarano/cmsc330-workspace.git
[submodule "cmsc389O-workspace"]
	path = cmsc389O-workspace
	url = https://github.com/tvarano/cmsc389O-workspace.git
[submodule "cmsc422-workspace"]
	path = cmsc422-workspace
	url = https://github.com/tvarano/cmsc422-workspace.git
[submodule "cmsc417-workspace"]
	path = cmsc417-workspace
	url = https://github.com/tvarano/cmsc417-workspace.git
[submodule "downpou-rs"]
	path = downpou-rs
	url = https://github.com/tvarano/downpou-rs.git
